
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



html {
  height: 100%;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
}

body {
  background: black;
}
.passage {
  padding: 30px;
  padding-top: 0px;
  max-width: 800px;
}

.blue {
  color: #2f92d2;
  font-weight: bold;
}

.kettle {
  color: #fcb25d;
  font-weight: bold;
}

video {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

.guess-button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
.correct {
  background-color: green;
  color: white;
}
.incorrect {
  background-color: red;
  color: white;
}
.editors_note {
  display: none;
}
.show-editor-note {
  display: block;
}

blockquote {
  background: #151E23;
  border-left: 5px solid #212746;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

figcaption {
  font-size: 14px;
  font-display: block;
  font-style: italic;
  padding:8px;
  text-align: center;
}
#title-row {
  font-family: 'Source Code Pro', monospace;
  color: #feff37;
  display: block;
  vertical-align: middle;
  user-select: none;
  position: fixed;
  top: 0;
  padding-top: 75px;
  padding-bottom: 12px;
  margin-left: -1px;
  background: rgba(0, 0, 0, 1);
  width: 100%;
  line-height: 1;
}

#top-passage-text {
  padding-top: 2px;
  padding-bottom: 2px;
}
#title-row i {
  color: white;
  padding-left: 10px;
  transform: translate(0, 25%);
}

#title-row a:hover {
  color: #A5DAED;
  text-decoration: none;
  border-bottom: none;
}

#top-bookmark-button {
  font-size: 24px !important;
  color: white;
  padding-left: 10px;
}

#top-bookmark-button a {
  font-size: 24px !important;
  color: white;
}

#story {
  margin-left: 19em;
  margin-right: 30px;
  overflow-y: auto;
  margin-top: 160px;
}

#passages {
  max-width:800px;
}

@media screen and (max-width:1236px) {
  .bottom_navbar {
    width: auto;
    left: 400px;
    right: 30px;
  }
}

.definition-link a {
  color: #51b241;
}

.excerpt-link a {
  color: #f25a16;
}

.citation-link a {
  color: #9E9E9E;
}

.macro-cycle a {
  color: #feff37;
}
.scroll_mode_page_number {
  position: relative;
  display: inline-block;
  left: -60px;
}

.scroll_mode_passage_text {
  position: relative;
  top: -50px;
}

#ui-bar {
  font-size: 18px;
  color: white;
  background-color: black;
  width: auto;
  letter-spacing: 1px;
  font-family: 'Source Code Pro', monospace;
  border-right: transparent;
}

#ui-bar i {
  font-size: 20px !important;
}

#ui-bar hr {
  margin-left: 16px;
  margin-right: 16px;
}

#ui-bar-body {
  text-align: left;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  padding: 0;
  overflow: inherit;
}

a.link-external::after {
  visibility: hidden;
  content: "";
}

li {
  padding-top: 8px;
  padding-bottom: 8px;
}

#navigation-list {
  user-select: pointer;
}

#navigation-list a {
  color: white;
  border-bottom: 2px solid transparent;
}

#navigation-list a:hover {
  color: #A5DAED;
  border-bottom: 2px solid;
}

#settings-list {
  position: fixed;
  bottom: 0;
  margin-bottom: 80px;
  line-height: 24px;
}

.settings-button {
  padding-top: 10px;
  padding-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.settings-button:hover {
  color: #A5DAED;
  transition: .2s;
}

#settings-list i {
  font-size: 24px !important;
  vertical-align: middle;
  padding-right: 10px;
}

#settings-list a {
  color: white;
}

.settings-text {
  padding-top: 2px;
  display: inline-block;
  padding-bottom: 2px;
  vertical-align: middle;
}

#header-buttons a {
  font-size: 24px;
  color: white;
  padding-right: 24px;
  padding-left: 0px;
}

#header-buttons i {
  padding-left: 0px;
}
.nav-button {
    height: 32px;
    width: 32px;
    background-color: white;
    color: black;
    padding: 5px 11px 7px 11px;
    margin-right: 24px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
}

  
.nav-link {
  user-select: none;
}
#ui-bar-tray {
  display: none;
}

#title {
  display: none;
}

#menu {
  display: none;
}

.blink1 {
  animation-name: alternate;
  animation-duration: 3000ms;
}
@keyframes alternate {
  from { color: white; } /*color when visible*/
  to   { color: #2f92d2; text-transform: uppercase }
}
.blink2 {
  animation-name: alternate2;
  animation-duration: 6000ms;
}
@keyframes alternate2 {
  from { color: white } /*color when visible*/
  to   { color: #2f92d2; text-transform: uppercase }
}
.blink3 {
  animation-name: alternate3;
  animation-duration: 9000ms;
  }
@keyframes alternate3 {
  from { color: white } /*color when visible*/
  to   { color: lightpink; text-transform: uppercase }
}
.blink4 {
  animation-name: alternate4;
  animation-duration: 14000ms;
}
@keyframes alternate4 {
  from { color: white } /*color when visible*/
  to   { color: lightgrey; text-transform: uppercase }
}

.hidden {
  display: none;
}
