
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

html {
  height: 100%
}

.passage {
  padding: 30px;
}

body.bk {
  font-family: 'Merriweather', serif;
  background-color: #DFE8F7;
  font-size: 22px;
  color: black;
}

body.bk #heading {
  background-color: black;
  color: white;
  display: flex;
  padding: 40px;
  margin: 0px;
}

.blue {
  color: blue;
  font-weight: bold;
}

body.hs {
  font-family: 'Consolas', serif;
  background: linear-gradient(#0E1F78, #04031D);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-size: 22px;
}

body.hs #h {
  font-family: 'Lato', sans-serif;
}

video {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}