
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

body {
  background: black;
}
.passage {
  padding: 30px;
  max-width: 800px;
}

.blue {
  color: blue;
  font-weight: bold;
}

video {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

#title-row {
  font-family: 'Source Code Pro', monospace;
  color: #F5ED49;
  display: block;
  vertical-align: middle;
  user-select: none;
  position: fixed;
  top: 0;
  padding-top: 70px;
  background: rgba(0, 0, 0, 1);
  width: 100%;
}

#title-row i {
  color: white;
  padding-left: 10px;
}

#title-row a:hover {
  color: #A5DAED;
  text-decoration: none;
  border-bottom: none;
}

#top-bookmark-button {
  font-size: 24px !important;
  color: white;
  padding-left: 10px;
}

#top-bookmark-button a {
  font-size: 24px !important;
  color: white;
}

.bottom_spacer {
  padding-bottom: 5vh;

}

.bottom_navbar {
  position: fixed;
  width: 100%;
  padding-bottom: 10vh;
  bottom: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 48px !important;
  user-select: none;
  line-height: 1;
}

.bottom_row {
  display: flex;
  flex-shrink: 0;
  padding-top: 8px;
}

.bottom_navbar a {
  color: white;
  padding: 8px;
  line-height: 1;
}

.bottom_navbar i {
  font-size: 48px;
}

.bottom_navbar a:hover {
  color: #7E9890;
  text-decoration: none;
}

.bottom_previous_button {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
  max-width: 267px;
  padding-top: 8px;
  background: rgba(17, 17, 17, .9);
}

.bottom_bookmark_button {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  max-width: 267px;
  padding-top: 8px;
  background: rgba(17, 17, 17, .9);
}

.bottom_next_button {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: right;
  max-width: 267px;
  padding-top: 8px;
  background: rgba(17, 17, 17, .9);
}

#story {
  margin-left: 19em;
  margin-right: 30px;
  overflow-y: auto;
  margin-top: 160px;
}

#passages {
  max-width:800px;
}

@media screen and (max-width:1236px) {
  .bottom_navbar {
    width: auto;
    left: 400px;
    right: 30px;
  }
}

