#ui-bar {
  font-size: 18px;
  color: white;
  background-color: black;
  width: auto;
  letter-spacing: 1px;
  font-family: 'Source Code Pro', monospace;
  border-right: transparent;
}

#ui-bar i {
  font-size: 20px !important;
}

#ui-bar hr {
  margin-left: 16px;
  margin-right: 16px;
}

#ui-bar-body {
  text-align: left;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  padding: 0;
  overflow: inherit;
}

a.link-external::after {
	visibility: hidden;
	content: "";
}

#navigation-list {
  user-select: pointer;
}

#navigation-list a {
  color: white;
  border-bottom: 2px solid transparent;
}

#navigation-list a:hover {
  color: #A5DAED;
  border-bottom: 2px solid;
}

#settings-list {
  position: fixed;
  bottom: 0;
  margin-bottom: 80px;
  line-height: 24px;
}

.settings-button {
  padding-top: 10px;
  padding-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.settings-button:hover {
  color: #A5DAED;
  transition: .2s;
}

#settings-list i {
  font-size: 24px !important;
  vertical-align: middle;
  padding-right: 10px;
}

#settings-list a {
  color: white;
}

.settings-text {
  padding-top: 2px;
  display: inline-block;
  padding-bottom: 2px;
  vertical-align: middle;
}

#header-buttons a {
  font-size: 24px;
  color: white;
  padding-right: 24px;
}
.nav-button {
    height: 32px;
    width: 32px;
    background-color: white;
    color: black;
    padding: 5px 11px 7px 11px;
    margin-right: 24px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
}

  
#ui-bar-tray {
  display: none;
}

#title {
  display: none;
}

#menu {
  display: none;
}
